$fontlink: "/partners/static/fonts/";

/* Pretendard-100 */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 100;
    src: local(""), url("#{$fontlink}Pretendard/Pretendard-Thin.ttf") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Thin.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Thin.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* Pretendard-300 */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("#{$fontlink}Pretendard/Pretendard-Light.woff2") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Light.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* Pretendard-400 */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("#{$fontlink}Pretendard/Pretendard-Regular.woff2") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Regular.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* Pretendard-500 */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("#{$fontlink}Pretendard/Pretendard-Medium.woff2") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Medium.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* Pretendard-600 */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("#{$fontlink}Pretendard/Pretendard-SemiBold.woff2") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-SemiBold.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* Pretendard-700 */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("#{$fontlink}Pretendard/Pretendard-Bold.woff2") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Bold.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* Pretendard-800 */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("#{$fontlink}Pretendard/Pretendard-ExtraBold.woff2") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-ExtraBold.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Pretendard/Pretendard-ExtraBold.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-300 */
@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("#{$fontlink}Outfit/Outfit-Light.ttf") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Outfit/Outfit-Light.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Outfit/Outfit-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-400 */
@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("#{$fontlink}Outfit/Outfit-Regular.ttf") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Outfit/Outfit-Regular.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Outfit/Outfit-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-500 */
@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("#{$fontlink}Outfit/Outfit-Medium.ttf") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Outfit/Outfit-Medium.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Outfit/Outfit-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-600 */
@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("#{$fontlink}Outfit/Outfit-SemiBold.ttf") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Outfit/Outfit-SemiBold.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Outfit/Outfit-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-700 */
@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("#{$fontlink}Outfit/Outfit-Bold.ttf") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Outfit/Outfit-Bold.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Outfit/Outfit-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-800 */
@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("#{$fontlink}Outfit/Outfit-ExtraBold.ttf") format("woff2"), /* Super Modern Browsers */ url("#{$fontlink}Outfit/Outfit-ExtraBold.woff") format("woff"), /* Modern Browsers */ url("#{$fontlink}Outfit/Outfit-ExtraBold.ttf") format("truetype"); /* Safari, Android, iOS */
}
